.left-value{
  vertical-align:inherit !important;
}

@media only screen and (max-device-width: 480px) {
  .table {
    font-size: 10px !important;
  }
}
.table{
  width:100% !important;
  text-align:center;
  font-size: 15px;
  border-radius: 5px;
  margin: 0px auto;
  float: none;
}
.winner{
  background-color:#1a931a;
}

.jumbotron{
  min-height: 400px;
}

.collapse-section:hover{
  color:whitesmoke;
}

.collapse-section{
  cursor:pointer;
}

.bg{
  border-radius:15px;
}
.well{
  text-align:center;
  border-radius:6px;
}

.block {
  display: block !important;
  overflow: hidden !important;
  -webkit-transition: height .5s;
  transition: height .5s;
}

.glyphicon-rotate{
  -webkit-transform: rotate(90deg);
  -moz-transform:    rotate(90deg);
  -ms-transform:     rotate(90deg);
  -o-transform:      rotate(90deg);
  transform:         rotate(90deg);
}
