<div class="container-fluid">

  <carousel>
    <slide>
      <img src="assets/1.jpg" alt="First slide">
    </slide>
    <slide>
      <img src="assets/2.jpg" alt="Second slide">
    </slide>
  </carousel>

  <nav>
    <div class="middle">
      <ul class="nav nav-tabs">
        <li><a [routerLink]="['/sport']">Športové novinky</a></li>
        <li><a [routerLink]="['/first']">Systém tipovania</a></li>
        <li><a [routerLink]="['/results']">Tipérske vysvetlivky</a></li>
        <!--<li><a [routerLink]="['/second']">Nic</a></li>-->
      </ul>
    </div>
  </nav>

  <div class="row">

    <!--<div class="col-md-3 col-sm-3 col-lg-3">-->

      <!--<h3>Directory structure tree</h3>-->
      <!--<TreeViewComponent></TreeViewComponent>-->
    <!--</div>-->

    <div class="col-md-12 col-sm-12 col-lg-12">

      <router-outlet></router-outlet>

    </div>

  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="title">
        <h2>Footer</h2>
      </div>
    </div>
  </div>
</div>

